header {
  position: fixed;
  height: 69px;
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  width: 100%;
}

nav span {
  display: inline-block;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
